*.aux
*.auxlock
*.bbl
*.bbl-SAVE-ERROR
*.bcf
*.bcf-SAVE-ERROR
*.blg
*.dvi
*.fdb_latexmk
*.fls
*.lof
*.log
*.lol
*.lot
*.loa
_minted-ctufit-thesis/
_minted/
*.minted
*.out
*.ps
*.pyg
*.run.xml
*.synctex
*.synctex(busy)
*.synctex.gz
*.tdo
*.toc
*.xdv
*.xmpi
*.xmpdata

example-asssignment-include.pdf
ctufit-thesis.pdf
